$font_path: '../../fonts/Lab/';
$font_path_graphik: '../../fonts/Graphik/';

// *********** //
// LAB  //
// ITALIC
@font-face{
  font-family    : 'LabBold';
  src            : url($font_path +'LabBoldCap.ttf'); /* IE9 Compat; Modes */
}
// REGULAR
@font-face{
  font-family    : 'Lab';
  src            : url($font_path + 'Lab Thin.ttf'); /* IE9 Compat; Modes */
  font-style     : normal;
  font-weight    : 100;
}

@font-face{
    font-family    : 'Graphik';
    src            : url($font_path_graphik +'Graphik-Medium.ttf'); /* IE9 Compat; Modes */
    font-style     : normal;
}

@font-face{
    font-family    : 'GraphikBold';
    src            : url($font_path_graphik +'Graphik-Bold.ttf'); /* IE9 Compat; Modes */
    font-style     : bold;
}

// Use "font-family: $source_sans_pro" in your code.
$lab-font : 'Lab', sans-serif;
// [END] SOURCE SANS //
// ***************** //